<div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>New Task</mat-label>
    <input matInput type="text" #newTodo />
  </mat-form-field>
  <button mat-icon-button (click)="addTodo(newTodo.value); newTodo.value = ''">
    <mat-icon>add</mat-icon>
  </button>
</div>

<nav>
  <button mat-button (click)="showTodoList()">ToDo List</button>
  <button mat-button (click)="showCompletedTasks()">Completed Tasks</button>
</nav>

<ng-container *ngIf="viewMode == 0">
  <app-todo-list></app-todo-list>
</ng-container>

<ng-container *ngIf="viewMode == 1">
  <app-todo-done></app-todo-done>
</ng-container>
